@media only screen and (min-width:32.5em) {
 
    h1 {
        font-size: 200%;
    }

    header img{
        box-shadow: 0 0 30px #444;
        float: right;
        margin-right: 10%;
        margin-top: -10%;
    }

    footer {
        clear:right;
    }

}