@media only screen and (min-width:64em) {
 
    .box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        }
    
    .box1 {
        margin: 2% 2% 2% 2%;
        background-color: navajowhite;
    
    }
    
    }