@media only screen and (min-width:32.5em) {
 
    nav button {display: none;}

    nav ul.hide {display: block;}

    nav ul {margin-left: 2%;}

    nav ul li {
        float:left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0,3);
        padding: .8rem 1rem;
    }  
    

 
    
    nav ul li a:hover {
        background-color: khaki;
    }  
    
    nav ul li a:active{
        background-color: darksalmon;
    }

    .div-header {
        display: block;
        background-color: #1e8337;
    }
    
    .table{
        margin:auto;
        border-collapse: collapse;
        width: 50%
    }
    .table th, td {
        text-align: center;
        padding: 8px;
    }
    
    .table th{
       
        background-color: #4CAF50;
        color: white;
    }

    iframe {

        display: block;
    }
}